<div class="col">
    <h2>Users</h2>
    <ul class="users">
        <li>Username</li>
    </ul>

    <button class="button">Hello</button>
</div>
<script src="/user.js"></script>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
    const socket = io();
    
</script>