<h1>Create Account</h1>

<form  id="form">
    <label for="username">Username: </label>
    <input type="text" name="username" value="" id="user"/><br>
    <label for="password">Password: </label>
    <input type="text" name="password" id="pass"/><br>

    <label for="password" >Retype Password: </label>
    <input type="text" name="password" id="retype" /><br>

    <button>Create Account</button>

    <script src="/users/createUser.js"></script>
</form>