<h1>Login</h1>

<form  id="form">
    <label for="username">Username: </label>
    <input type="text" name="username" value="" id="user"/><br>
    <label for="password">Password: </label>
    <input type="text" name="password" id="pass"/><br>

    <button>Login</button>

    <script src="/users/login.js"></script>
</form>